atat/web_lab4/tourismAgency.dtd

<!ELEMENT tourismAgency (agency+)>
<!ELEMENT agency (name, location, yearEstablished, totalPackages, currency, rating)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT yearEstablished (#PCDATA)>
<!ELEMENT totalPackages (#PCDATA)>
<!ELEMENT currency (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
